*{
	margin: 0;
	padding: 0;
}
canvas{	display: block;}
.wrap{
	width: 1055px;
	margin: 20px auto;
}
.wrap2{
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0px 0 0 230px;
}
#saveUs{
    clear: both;
    display: block;
}
.baydg{
    width: 220px;
    position: absolute;
    top: 20px;
    left: 0;
    background: blue;
}
.baydg input{
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 22px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}
#barcodeCanvas{
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	transform: scale(.9);
	margin-left: -25px;
}
.baydg div {
	width: 220px;
	background: #fff;
	border: 0;
   padding: 0;
   height: 61px;
   overflow: hidden;
   left: 0;
   margin-top: 27px;
   width: 220px;
}
.inputBlock{
	display: inline-block;
	vertical-align: top;
}
.inputBlock input{
	width: 360px;
	padding: 10px 15px;
	font-size: 16px;
	color: #ccc;
	margin: 20px;
	display: block;
	border-radius: 5px;
	border: 1px solid #cecece;
	color: #424242;
}
.inputBlock div{
	margin: 20px;
}
.inputBlock div #barcodeValue{
	margin: 0 22px 0 0;
    width: 35%;
    float: left;
    text-align: center;
}
button{
    display: inline-block;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-shadow: rgba(0,0,0, 0.3) 0 1px 2px;
    padding: 10px 20px;
    background: #8DB418;
    border-radius: 5px;
    -webkit-box-shadow: 2px -1px 3px rgba(0,0,0, .7);
    -moz-box-shadow: 2px -1px 3px rgba(0,0,0, .7);
    box-shadow: 2px -1px 3px rgba(0,0,0, .7);
    border: 0;
}
button:focus, button:hover{
	outline: none;
	text-decoration: underline;
	-webkit-box-shadow: inset 0px 1px 5px rgba(0,0,0, .7);
	-moz-box-shadow: inset 0px 1px 5px rgba(0,0,0, .7);
	box-shadow: inset 0px 1px 5px rgba(0,0,0, .7);
}
#areaPosition{
	font-size: 18px;
	font-style: italic;
	margin-top: 40px;
	font-weight: normal;
}
